{{> head}}
{{> navbar}}
<div class="row">

    <div class="col-8">
        <h1>Capitan Puerco</h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio quos dolore iusto magni, iure fuga sequi saepe, exercitationem dignissimos totam ducimus dolorum corrupti ab voluptas enim quaerat commodi quod quibusdam.

        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/puerco.jpg" class="img-thumbnail">
    </div>

</div>


{{> footer}}